.form {

  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;

  &__group {

    display: flex;
    flex-direction: column;

  }

  &__label {

    font-size: 1.2rem;
    border: none;
    color: #444444;
    margin-bottom: 1rem;
    text-transform: uppercase;

  }

  &__input {

    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.67);

  }

  &__button {

    grid-column: 1 / -1;
    justify-self: center;

  }

}
