.list {

  width: 100%;

  padding: 2rem;

  &__item {
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .2s;
    position: relative;

    &:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    p {
      transition: all .5s;
    }

    &:hover {

      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

      transform: scale(1.01);

      .list__header {
        p {
          padding-left: 5rem;
        }
      }

    }
  }

  &__header {

  }

  &__description {
    color: rgba(0, 0, 0, 0.51);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.6rem;
    animation: enterDescription ease-in-out;
    animation-duration: .2s;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    transform: scaleX(1.4);
    opacity: .3;
    margin: .5rem 0;

    &:after {
      content: 'X';
      font-size: 1.6rem;
    }

    &:hover {
      opacity: 1;
    }

    p {
      display: none;
    }
  }

}

.addlibrary {

  padding: 2rem;

  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);

    p {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.66);
      margin-left: 1rem;
    }
  }

  &__content {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;

  }

}

@keyframes enterDescription {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    height: 3rem;
  }
}
